.flex-container {
    display: flex;
    flex-direction: column;
}
.flex_item{
    background-color: lightgray;
}
@media(min-width: 768px){
    .flex-container{
    flex-direction: row;
}
}
#heading{
    justify-content: center;
    align-items: center;
    width:30%;
    font-family: 'Sevillana', cursive;
    color: black;
    font-size:5vw;
    margin:auto;
}
#roundpic{
    border-radius: 100px;
}
#logo{
    height:2vw;
    width:2vw;
    margin-top: -0.5vw;
}
nav{
    background-color: lightgrey;
    height:fit-content;
    justify-content:center;
    align-items: center;
}
#headingpic{
    margin-right:20%;
    display: flex;
    height:16vw;
    width:17vw;
    margin:auto;
    align-items: center;
}
#graywave{
    display:flex;
    height:50vw;
    width:100%;
    margin:auto;
}
.header_small_responsive{
    font-size: 6vw;
    font-family: 'Secular One', sans-serif;
}
.para_responsive{
    font-size:2vw;
    font-family: 'Secular One', sans-serif;
}
.icon_para_responsive{
    font-size:1vw;
    font-family: 'Secular One', sans-serif;
    width:20vw;
}
.box_col{
    flex-direction:column;
    padding:3.2vw;
    width:fit-content;
    height:fit-content;
    align-items: center;
    justify-content: center;
}
.para_img{
    width: 12vw;
    height: 12vw;
    margin-left: 10vw;
    margin-right: 10vw;
}
@media(max-width: 768px){
    .para_img{
    width:20vw;
    height:20vw;
}
}
#col{
    flex-direction: column;
}
.flex-container-row{
    display: flex;
    flex-direction: row;
    margin:auto;
    justify-content: center;
    align-items: center;
}
#floatright{
    float: right;
}
.icon_pic{
    height:11vw;
    width:11vw;
    align-items: center;
    justify-content: center;
}
.icon_small_heading{
    font-family: 'Secular One', sans-serif;
    font-size:2vw;
    width:3vw;
}
#portal{
    font-size:3vw;
    font-family: 'Secular One', sans-serif;
}
#portalbutton{
    background-color: black;
    width:fit-content;
    height:fit-content;
    border-radius: 8vw;
    font-family: 'Secular One', sans-serif;
    margin-bottom: 2vw;
    color:white;
}
#divportal{
    align-items: center;
}
.iconbox{
    justify-content: center;
    align-items: center;
    width:fit-content;
    margin-left: -0.5vw;
}
#myCarousel{
    background-color: white;
}
#socials_header{
    font-family: 'Secular One', sans-serif;
    background-color: white;
}
#portal_header{
    font-family: 'Secular One', sans-serif;
    background-color: white;
}
.carouselpics{
    width:30vw;
    height:30vw;
}
.carousel-caption h3{
    font-size:2vw;
}
.carousel-caption p{
    font-size:1vw;
}
#socials_header{
    font-size:3vw;
}
.social{
    font-size: 2vw;
}
.social_logo{
    height:5vw;
    width:9vw;
    padding-left:1vw;
    padding-right:1vw;
}
#myCarousel{
    height:fit-content;
}
#headingbox{
    padding-top:20vh;
    padding-bottom:20vh;
}
/* width */
::-webkit-scrollbar {
    width: 15px;
}
  
  /*  Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px ; 
    background:#444444;
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: black; 
    border-radius: 10px;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #222222; 
}